html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fluid{
    max-width: 100%;
    margin: 0 auto;
}
.btn{
    padding: 13px 18px;
    background-color: $blue;
    color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    font-size: 14px;
}
.title{
    font-size: 30px;
    color: #000;
}
.products__inner-start{
    font-size: 15px;
    margin-left: auto;
}
.rate-star{
    display: inline-block;
}
.arrw-box{
    position: absolute;
    cursor: pointer;
    top: -113px;
    right: 50px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    outline: none;
}
.slick-prev{
    right:95px;
}
.top__title-default{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 0 30px;
    margin-bottom: 50px;
}
.img-hover{
    position: relative;
    &:hover{
        .hover__inner{
            display: block;     
        }
        .hover__box{
            visibility: visible;
            background-image: linear-gradient( 250deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
            height: 100%;
        }
    }
}
.hover__box{
    transition: all .5s ease;
    visibility: hidden;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    border-radius: 6px;
}
.hover__inner{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    a{
        transition: all .5s ease;
        padding: 17px 35px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 25px;
        & + a{
            margin-left: 10px;
        }
        &:hover{
            background-color: #fff;
             color: $blue; 
        }
    }
}
.whyChoose{
    .lnr-license{
        color: $blue;
    }
    .lnr-magic-wand{
        color: #7f4ec2;
    }
    .lnr-lock{
        color: #77de51;
    }
    .lnr-chart-bars{
        color: #feb71d;
    }
    .lnr-leaf{
        color: #58c9e9;
    }
    .lnr-phone{
        color: #ff6a6d;
    }
}

.title-centr {
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 55px;
    &__top {
        font-size: 36px;
        color: #000;
        font-weight: 400;
        margin-bottom: 30px;
        span{
            color: $blue;
            font-weight: 400;
        }
    }
    &__bottom {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: $gray;
        font-weight: 400;
    }
}