@import 'fonts';
@import 'mixsins';
@import 'vars';
@import 'global';

.header__top-inner{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top{
     background-color: #eef1f3;
}
.btn__seller{
    margin-left: auto;
    margin-right: 55px;
}
.menu {
    height: 80px;
    display: flex;
    align-items: center;
}
.menu__list {
    li{
        text-transform: uppercase;
        a{
            color: #333333;
            font-weight: 700;
            font-size: 15px;
        }
        & + li{
            margin-left: 27px;
        }
    }
}
.header__menu-inner {
   display: flex;
   justify-content: space-between;
}
.forma{
    display: flex;
    align-items: center;
    max-width: 360px;
    position: relative;
    input{
        height: 45px;
        border-radius: 25px;
        padding: 0 80px 0 24px;
        border: 1px solid #d9dfe5;
        cursor: pointer;
        &::placeholder{
            color: #898f96;
        }
    }
    button{
        position: absolute;
        cursor: pointer;
        border: none;
        background-color: transparent;
        background-color: $blue;
        height: 45px;
        padding: 0 28px;
        border-radius: 25px;
        top: 18px;
        right: -22px;
    }
}












@import 'media'