@import 'fonts';
@import 'mixsins';
@import 'vars';
@import 'global';

// -------------------------------------------------------start header -------------------------------------------------------------------------------------------
.header__top-inner{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top{
     background-color: #eef1f3;
}
.btn__seller{
    margin-left: auto;
    margin-right: 55px;
    transition: all .5s ease;
        &:hover{
            background-color: #0a30bb;
        }
}
.header__btn{
    a{
        transition: all .5s ease;
        &:hover{
            background-color: #0a30bb;
        }
    }
}
.menu {
    height: 80px;
    display: flex;
    align-items: center;
}
.menu__list {
    li{
        text-transform: uppercase;
        a{
            color: #333333;
            font-weight: 700;
            font-size: 15px;
        }
        & + li{
            margin-left: 27px;
        }
    }
}
.header__menu-inner {
   display: flex;
   justify-content: space-between;
   position: relative;
   flex-wrap: wrap;
}
.forma{
    display: flex;
    align-items: center;
    max-width: 360px;
    position: relative;
    form{
        position: relative;
    }
    input{
        height: 45px;
        border-radius: 25px;
        padding: 0 80px 0 24px;
        border: 1px solid #d9dfe5;
        outline: none;
        cursor: pointer;
        &::placeholder{
            color: #898f96;
        }
    }
    button{
        position: absolute;
        cursor: pointer;
        border: none;
        background-color: transparent;
        background-color: $blue;
        height: 45px;
        padding: 0 28px;
        border-radius: 25px;
        right: 0;
        transition: all .5s ease;
        &:hover{
            background-color: #0a30bb;
        }
    }
}
.big__banner{ 
    background-image: linear-gradient(210deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
    color: #fff;
    padding-top: 180px;
    min-height: 720px;
    &-title{
        font-size: 60px;
    }
    span{
        display: block;
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
        margin-bottom: 20px;
    }
    &-text{
        font-size: 20px;
        margin-bottom: 70px;
    }
    &-inner{
        position: relative;
        text-align: center;
    }
}
.big__banner-btnBox{
    margin-bottom: 70px;
    a{
        font-size: 16px;
        color: #fff;
        padding: 20px 40px;
        border: 1px solid #fff;
        border-radius: 40px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        transition: all .5s ease;
        & + a{
            margin-left: 30px;
        }
        &:hover{
            background-color: #fff;
            color: #0674ec;
        }
    }
}
.big__banner-form{
    position: absolute;
    width: 100%;
    bottom: -295px;
    form{
        margin: 0 auto;
        background-color: #fff;
        height: 135px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        padding: 0 40px;
        position: relative;
        max-width: 1140px;
        &::before{
            content: '';
            position: absolute;
            top: -13px;
            background-color: #fff;
            opacity: 0.502;
            border-radius: 6px;
            max-width: 1110px;
            height: 40px;
            right: 15px;
            left: 15px;
        }
        &::after{
            content: '';
            position: absolute;
            top: -26px;
            background-color: #fff;
            opacity: 0.502;
            border-radius: 6px;
            max-width: 1080px;
            height: 40px;
            right: 30px;
            left: 30px;
        }
        button{
            max-width: 222px;
            height: 55px;
            width: 100%;
            background-color: #0674ec;
            border:none;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            margin-left: 30px;
            padding: 10px;
            border-radius: 6px;
            transition: all .5s ease;
            &:hover{
                background-color: #1137c0;
            }
        }
        input{
            border: 1px solid #dcdcdc;
            border-right: none;
            max-width: 614px;
            width: 100%;
            height: 55px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;;
            padding: 0 30px;
            font-size: 16px;
            &::placeholder{
                color: #676767;
            }
        }
      
    }
}
.jq-selectbox{
    .jq-selectbox__select{
        height: 55px;
        background-color: #fff;
        width: 195px;
        display: flex;
        color: #555555;
        border: 1px solid #dcdcdc;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }
    .jq-selectbox__dropdown{
        background-color: #fff;
        color: #555555;
        border-radius: 6px;
        ul{
            border: 1px solid #dcdcdc;
            border-top: none;
            width: 195px;
            margin-top: -2px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: all .5s ease;
            li{
                cursor: pointer;
                margin: 8px 0;     
                display: block;
                transition: all .4s ease;
                &:hover{
                    background-color: #d7cfcf;
                }
            }
        }
        
    }
}
.jq-selectbox__trigger-arrow{
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all .5s ease;
    &.active{
        transform: rotate(180deg);
    }
}
.all__products{
    z-index: 2;
}
.header__box-link{
    margin-left: 85px;
    font-size: 15px;
    color: #676767;
    a + a{
        margin-left: 25px;
    }
}
.page__list,
.products__all,
.home__list,
.wp__list{
    transition: all .5s ease;
    cursor: pointer;
    &:hover{
        color: $blue;
    }
    &.active{
        color: $blue;
    }
}
.pages__drop{
    position: absolute;
    top: 80px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(82, 85, 90, 0.2);
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 0px solid $blue;
    height: 0;
    overflow: hidden;
    padding: 0 30px;
    transition: all .5s;
    &.active{
        border-top: 1px solid $blue;
        padding: 35px 30px;
        overflow: visible;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        z-index: 4;
        height: auto;
    }
    li{
        display: block;
    }
    &-title{
        font-weight: 700;
        font-size: 16px;
        color: #000;
        padding-bottom: 20px;
        border-bottom: 1px solid #e8ebf0 ;
    }
    &-inner{
        display: flex;
        justify-content: space-between;
    }
}
.pages__drop-col{
    margin-top: 30px;
    a{
        color: #54667a;
        font-size: 15px;
        font-weight: 500;
        transition: all .5s ease;
        &:hover{
            color: $blue;
        }
    }
    li{
        & + li{
            margin-top: 30px;
        }
    }

}
.first__drop-col{
    margin-right: 75px;
}
.menu__drop{
    position: absolute;
    left: 74px;
    z-index: 2;
    right: 0;
    top: 80px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-top: 1px solid $blue;
    width: 270px;
    padding: 0 20px;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all .5s ease;
    &.active{
        padding: 20px;
        height: auto;
        visibility: visible;
        overflow: visible;
    }
    li{
        display: block;
    }
    a{
        padding: 17px 10px;
        width: 100%;
        transition: all .5s ease;
        color: #54667a;
        font-size: 15px;
        font-weight: 500;
        &:hover{
            background-color: $blue;
            color: #fff;
        }
    }
}
.list__home{
    left: 0;
    z-index: 1;
}
.drop__wp{
    left: 212px;
    z-index: 3;
}
.festures__btn:hover{
    color: $blue;
}
.profi__blog-info{
    margin-right: 50px;
    .lnr{
        color: #7e8fa1;
        font-size: 20px;
        transition: all .5s ease;
        &:hover{
            color: #ffc000;
        }
    }
    .lnr-alarm{
        span{
            background-color: #ff6a6c;
        }
    }
    .lnr-envelope{
        span{
            background-color: #62d03b;
        }
    }
    .lnr-cart{
        span{
             background-color: #0674ec;  
        }
    }
    a{
        position: relative;
        &  + a{
            margin-left: 35px;
        }
        span{
            height: 22px;
            width: 22px;
            text-align: center;
            line-height: 20px;
            position: absolute;
            top: -16px;
            color: #fff;
            right: -10px;
            border-radius: 50%;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
.profil__blog{
    position: relative;
}
.profil__blog-menu{
    max-width: 200px;
    display: flex;
    align-items: center;
    position: relative;
    .profil__avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;   
        background-size: cover;
        float: left;
        margin-right: 20px;
    }
    .profil__nickName,
    .profil__balance{
        display: block;
    }
    .profil__box{
        position: relative;
        .profil__nickName{
            margin-bottom: 8px;
            font-size: 16px;
            color: #000;
            font-weight: 500;
            max-width: 180px;
            transition: all .5s ease;
            &:hover{
                color: $blue;
            }
        }
        .profil__balance{
            color: $blue;
            font-size: 15px;
            transition: all .5s ease;
            &:hover{
                color: #000;
            }
        }
    }
}
.profil__nickName,
.message__btn,
.notification__btn,
.bascet__btn{
    cursor: pointer;
}
.message__drop{
    z-index: 6;
}
.message__btn,
.notification__btn,
.bascet__btn{
    &.active{
        color: #ffc000;
    }
}
.drop__profile{
    left: auto;
    z-index: 8;
    top: 74px;
    a{
        padding-left: 40px;
        position: relative;
        &::before{
            left: 10px;
            position: absolute;
            font-size: 15px;
        }
    }
}
.mark{
    &::after{
        content: ''; 
        position: absolute;
        top: -18px;
        right: 28px;
        transition: all .5s ease;
        border: 9px solid transparent;
        border-bottom: 9px solid $blue;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    }
}
.drop__blog{
    opacity: 0;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    border-top: 1px solid $blue;
    position: absolute;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    background-color: #fff;
    width: 370px;
    top: 60px;
    right: 80px;
    z-index: 1;
    &-top{
        padding: 0 25px;
        height: 66px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: #000;
        a{
            font-weight: 15;
            color: $blue;
        }
    }
    &-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 14px;
    }
}
.drop__blog-item{
    position: relative;
    display: flex;
    padding: 0 25px;
    height: 84px;
    align-items: center;
    border-top: 1px solid #e8ebf0;
    font-size: 15px;
}

.drop__blog-name {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
    span{
        margin-left: 15px;
        color: $blue;
    }
    .replay{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 4px;
            background-image: url(../images/icons/reply.png);
            width: 16px;
            height: 12px;
        }
    }
}
.drop__blog-text {
    color: $gray;
}
.drop__blog-date {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #747a86;
    &.new__notification{
        color: $blue;
    }
}

.notification__drop{
    z-index: 5;
    left: -26px;
    &.mark::after{
        right: auto;
        left: 28px;
    }
    .drop__blog{
        &-date{
            position: static;
        }
        &-name{
            margin-bottom: 5px;
            a{
                font-weight: 500;
                color: #333333;
            }
            span{
                margin-left: 3px;
                font-size: 15px;
                color: #747a86;
            }
        }
        &-text{
            margin-bottom: 5px;
            a{
                font-weight: 500;
                color: $blue;
            }
        }
    }
    .drop__blog-content{
        .ivent__icon{
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            width: 33px;
            height: 33px;
            font-size: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .lnr-heart{
            background-color: #e6f1fd;
            color: $blue;
        }
        .lnr-bubble{
            background-color: #f1ecf9;
            color: #7347c1;
        }
        .lnr-cart{
            background-color: #fff0f0;
            color: #ff6a6c;
        }
        .lnr-star{
            background-color: #effaeb;
            color: #62d03a;
        }
    }
}
.basket__drop{
    width: 403px;
    right: 17px;
    z-index: 7;
    left: auto;
    .drop__blog-content{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        position: relative;
        .price{
            position: absolute;
            padding: 7px 12px;
            background-color: #e6f1fd;
            color: $blue;
            font-weight: 500;
            font-size: 15px;
            bottom: 0;
            right: -80px;
        }
        .drop__item-delete{
            background-color: #f1ecf9;
            width: 32px;
            cursor: pointer;
            height: 32px;
            border-radius: 50%;
            position: absolute;
            right: -80px;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before{
                font-size: 15px;
                color: #818c98;
            }
        }
    }
    .drop__blog{
        &-img{
            width: 80px;
            height: 70px;
            border-radius: 0;
        }
        &-item{
            height: auto;
            padding: 25px;
            border-top: none;
            border-bottom: 1px solid #e8ebf0;
        }
        &-name{
            max-width: 175px;
            margin-bottom: 20px;
            a{
                font-weight: 500;
                color: #000;
                font-size: 16px;
            }
        }
        &-category{
            padding-left: 22px;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background-image: url(../images/content/wp.png);
                width: 16px;
                height: 16px;
                left: 0;
            }
        }
        
    }
    .drop__total-price{
        height: 70px;
        display: flex;
        align-items: center;
        padding: 0 25px;
        justify-content: flex-end;
        color: #000;
        font-size: 18px;
        font-weight: 500;
        span{
            margin-left: 32px;
        }
    }
    .dropb__box-btn{
        display: flex;
        height: 60px;
        a{
            width: 100%;
            align-items: center;
            display: flex;
            color: #fff;
            justify-content: center;
            background-color: $blue;
            transition: all .5s ease;
            &:hover{
                background: #0c64c5;
            }
        }
        .btn__cart{
            background: #7347c1;
            min-width: 200px;
            &:hover{
                background-color: #653ab1;
            }
        }
    }
}

// -------------------------------------------------------end header -------------------------------------------------------------------------------------------
// -------------------------------------------------------start plus -------------------------------------------------------------------------------------------
.plus{
    padding-top: 180px;
    padding-bottom: 115px;
    &__inner{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__img{
        width: 113px;
        height: 113px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    &__item{
        max-width: 365px;
        text-align: center;
        padding: 40px 35px 50px;
        transition: all .5s ease;
        &:hover{
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }
    &__title{
        color: #000;
        font-size: 24px;
        margin-bottom: 35px;
    }
    &__text{
        font-size: 16px;
        color: $gray;
    }
}

// -------------------------------------------------------end plus -------------------------------------------------------------------------------------------
// -------------------------------------------------------start products -------------------------------------------------------------------------------------
.products{
    background-color: $bgGray;
    padding: 120px 0;
    .price{
        padding: 9px 20px;
        color: #fff;
        background-color: $blue;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 500;
        margin-top: 20px;
    }
}
.products__top{

}
.products__boxBtn{
    height: 45px;
    width: 110px;
    background-color: #7347c1;
    border-radius: 25px;
}
.products__inner{
    a{
        font-weight: 500;
        font-size: 24px;
        color: #000;
        margin-bottom: 20px;
    }
}
.slick-slide {
    .products__inner-item{
        display: flex;
    }
}
.products__inner-left{
    display: block;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 555px;
    min-height: 450px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.products__inner-right{
    background-color: #fff;
    max-width: 615px;
    padding: 50px 60px 25px 50px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.products__inner-author{
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    .avatar{
        height: 30px;
        margin-right: 10px;
        width: 30px;
        border-radius: 50%;
    }
    img{
        display: inline-block;
    }
    .nickname{
        font-size: 15px;
        color: #000;
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
    .category{
        margin-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        color: #7347c1;
        font-weight: 500;
        display: flex;
        align-items: center;
        span{
            padding-left: 10px;
        }
    }
}
.products__inner-info{
    font-size: 16px;
    color: $gray;
    margin-bottom: 30px;
    line-height: 30px;
}
.products__inner-boxTag{
    .taglink{
        display: inline-block;
    }
    .tag{
        font-size: 15px;
        color: #868c96;
        height: 28px;
        padding: 0 15px;
        background-color: #f1f3f6;
        text-align: center;
        border-radius: 25px;
        align-items: center;
        display: flex;
        & + .tag{
            margin-left: 7px;
        }
    }
}
.products__inner-content{
    padding-bottom: 45px;
    border-bottom: 1px solid #ececec;
}
.slick-slide{
    .products__inner-item{
        display: flex !important;
    }

}
.products__inner-buttom{
    height: 80px;
    display: flex;
    align-items: center;
    .liks.lnr.lnr-heart{
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 0;
    }
  
    
}
.price{
    padding: 9px 20px;
    color: #fff;
    background-color: $blue;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
}
.liks{
    font-size: 15px;
    color: #7347c1;
    margin-left: 15px;
    span{
        color: $gray;
    }
}
.purchases{
    font-size: 15px;
    color: $blue;
    margin-left: 20px;
}
.products__inner-item{
    .products__inner-left{
        margin-bottom: 0;
    }
}

// -------------------------------------------------------end products -------------------------------------------------------------------------------------------
// -------------------------------------------------------start newrelease ---------------------------------------------------------------------------------------
.newrelease{
    padding: 120px 0;
    background-color: #f6f7fb;
}
.filter{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #747b86;
    button{
        outline: none;
        margin-left: 25px;
        border: none;
        cursor: pointer;
        width: 5px;
        height: 21px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
    }
}
.filter__btns{
    margin-bottom: 50px;
    height: 95px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 0 30px;
    button{
        border: none;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        height: 32px;
        padding: 0 20px;
        border-radius: 25px;
        background-color: #f1f3f6;
        transition: all .5s ease;
        &:hover{
            background-color: $blue;
            color: #fff;

        }
        & + button { 
            margin-left: 15px;
        }
    }
}
button.mixitup-control-active{
    background-color: $blue;
    color: #fff;
}
.newrelease__inner,
.uFollowes__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .products__inner-content{
        padding-bottom: 0;
    }
    .products__inner-item{
        display: block;
        max-width: 360px;
        margin-bottom: 30px;
    }
    .products__inner-left{
        display: block;
        max-width: 360px;
        min-height: 230px;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .products__inner-right{
        display: inline-block;
        padding: 30px 20px 2px 30px;
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .products__inner-title{
        a{
            font-size: 20px;
            color: #000;
            display: block;
        }
        margin-bottom: 20px;
    }
    .products__inner-author{
        display: flex;
        align-items: center;
        .nickname{
            margin-top: 0;
            display: flex;
            align-items: center;
        }
        .category{
            margin-top: 0;
        }
    }
    .products__inner-info{
        font-weight: 700;
        margin-bottom: 35px;
    }
    .products__inner-buttom{
        height: 60px;
        .price{
            a{
                color: $blue;
            }
            background-color: #e6f1fd;
        }
    }
    .products__inner-start{
        margin-top: 3px;
        margin-left: 15px;
    }
    .purchases{
        margin-left: auto;
    }
}
.newrelease__down-btn{
    text-align: center;
    margin-top: 60px;
    a{
        color: #fff;
        background-color: $blue;
        transition: all .5s ease;
        &:hover{
            background-color: #0a31bc;
        }
    }
}

// -------------------------------------------------------end newrelease -------------------------------------------------------------------------------------------
// -------------------------------------------------------start uFollowes -------------------------------------------------------------------------------------------
.uFollowes{
    background-color: #eff1f5;
    padding: 120px 0;
}
.uFollowes__inner{
   .slick-list{
       margin-left: -15px;
       margin-right: -15px;
   }
    .products__inner-item{
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .products__inner-right{
        box-shadow: none ;
    }
}
// -------------------------------------------------------end uFollowes -------------------------------------------------------------------------------------------
// -------------------------------------------------------start statistics -------------------------------------------------------------------------------------------
.statistics{
    background-color: #212225;
    padding: 95px 0;
    .brif{
        color: #feb71d;
    }
    .cloud{
        color: #58c9e9;
    }
    .smile{
        color: #77de51;
    }
    .people{
        color: #ff6a6d;
    }
}
.statistics__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.statistics__icon{
    font-size: 48px;
    margin-bottom: 50px;
}
.statistics__number{
    font-size: 36px;
    margin-bottom: 15px;
}
.statistics__info{
    font-size: 18px;
    color: #fff;
}
// -------------------------------------------------------end statistics -------------------------------------------------------------------------------------------
// -------------------------------------------------------start whyChoose -------------------------------------------------------------------------------------------
.whyChoose{
    padding: 120px 0;
    background-color: #fff;
}
.whyChoose__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.whyChoose__item{
    position: relative;
    display: block;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    max-width: 360px;
    border-radius: 4px;
    text-align: center;
    padding: 50px 35px 30px;
    min-height: 375px;
    margin-bottom: 30px;
    .num{
        position: absolute;
        top: 20px;
        left: 20px;
        font-weight: 30;
        color: rgba(#5c87f8, 0.2);
        font-size: 30px;
        font-weight: 40;
    }
    .whyChoose__icon{
        font-size: 60px;
        margin-bottom: 53px;
    }
    .whyChoose__title{
        font-size: 24px;
        color: #000;
        font-weight: 500;
        margin-bottom: 35px;
    }
    .whyChoose__text{
        color: $gray;
        line-height: 30px;
        font-size: 16px;
        font-weight: 400;
    }
    
}
// -------------------------------------------------------end whyChoose -------------------------------------------------------------------------------------------
// -------------------------------------------------------start sellBay -------------------------------------------------------------------------------------------
.sellBay__inner{
    display: flex;
    justify-content: space-between;
    text-align: center;
    a{
        background-color: #fff;
    }
}
.sellBay__icon{
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}
.sellBay__title{
    font-size: 36px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
}
.sellBay__text{
    font-size: 16px;
    color: #fff;
    margin-bottom: 75px;
}
.sellBay__left,
.sellBay__right{
    min-height: 540px;
    padding: 100px 190px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sellBay__left{
    a{
        color: #0674ec;
        transition: all .5s ease;
        &:hover{
            background-color: #7347c1;
            color: #fff;
        }
    }
}
.sellBay__right{
    a{
        color: #7347c1;
        transition: all .5s ease;
        &:hover{
            background-color: #0674ec;
            color: #fff;
        }
    }
}
// -------------------------------------------------------end sellBay -------------------------------------------------------------------------------------------
// -------------------------------------------------------start clinetfacebook -------------------------------------------------------------------------------------------
.clinetfacebook{
    padding: 120px 0;
}
.clinetfacebook__inner{
    display: flex;
    justify-content: space-between;
}
.clinetfacebook__item{
    max-width: 555px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-left: 1px solid $blue;
    padding: 50px 40px;
    margin-bottom: 75px;
    &-author{
        position: relative;
        margin-bottom: 30px;
        .face-avatar{
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            float: left;
            margin-right: 20px;
        }
        .name{
            font-size: 20px;
            color: #000;
            margin-bottom: 15px;
            margin-top: 15px;
        }
        .prof{
            color: $gray;
            font-size: 16px;
        }
        .chat{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 60px;
            color: #e8e8e8;
            transition: all .5s ease;
            &:hover{
                color: $blue;
            }
        }
    }
    .clinetfacebook__message{
        font-weight: 400;
        color: $gray;
        line-height: 30px;
        font-size: 16px;
    }
}
.clinetfacebook__btn{
    text-align: center;
    a{
        background-color: $blue;
        color: #fff;
        transition: all .5s ease;
        &:hover{
            background-color: #0350e1;
        }
    }
}

// -------------------------------------------------------end clinetfacebook -------------------------------------------------------------------------------------------
// -------------------------------------------------------start latestnews -------------------------------------------------------------------------------------------
.latestnews{
    padding: 120px 0;
    background-color: #eff1f5;
}
.latestnews__inner{
    display: flex;
    justify-content: space-between;
}
.latestnews__inner-item{
    max-width: 360px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    min-height: 466px;
}
.latestnews__img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 230px;
}
.latestnews__box{
    background-color: #fff;
    padding: 30px 35px 0;
}
.latestnews__info{
    overflow: hidden;
    height: 180px;
    &-title{
        font-size: 22px;
        font-weight: 500;
        color: #000;
        margin-bottom: 30px;
    }
    &-text{
        color: $gray;
        font-size: 16px;
        line-height: 30px;
    }
}
.latestnews__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    position: relative;
    margin-top: 35px;
    &::after{
        content: '';
        position: absolute;
        height: 1px;
        background-color: #ececec;
        top: 0;
        left: -35px;
        right: -35px;
    }
    &::before{
        content: '';
        position: absolute;
        height: 40px;
        width: 1px;
        background-color: #ececec;
        top: 10px;
        left: 50%;
    }
    &-left{
        font-size: 15px;
        span{
            color: $blue;
            margin-right: 10px;
        }
        a{
            color: #999999;
        }
    }
    &-right{
        display: flex;
        justify-content: space-between;
        color: #7e7e7e;
        font-size: 15px;
        .cout-message{
            margin-right: 33px;
        }
    }
}
// -------------------------------------------------------end latestnews -------------------------------------------------------------------------------------------
// -------------------------------------------------------start moneyback -------------------------------------------------------------------------------------------
.moneyback__inner{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background-color: #eff1f5;
        top: 0;
        left: 50%;
    }
    &-images{
        height: 120px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 30px;
        background-position: center;
    }
    &-text{
        font-weight: 400;
        font-size: 24px;
        color: #000;
        span{
            color: $blue;
        }
    }
}
// -------------------------------------------------------end moneyback -------------------------------------------------------------------------------------------
// -------------------------------------------------------start join -------------------------------------------------------------------------------------------
.join{
    background-image: linear-gradient( 270deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
    display: flex;
    align-items: center;
    min-height: 400px;
    justify-content: center;
}
.join__inner{
    text-align: center;
    &-title{
        font-weight: 400;
        font-size: 36px;
        color: #fff;
        margin-bottom: 25px;
    }
    &-text{
        font-size: 18px;
        color: #e7e7e7;
        font-weight: 400;
        margin-bottom: 40px;
    }
    &-btn{
        color: $blue;
        background-color: #fff;
        font-size: 16px;
        display: inline-block;
        transition: all .5s ease;
        &:hover{
            background-color: #9da7b9;
            color: #fff;
        }
    }
}
// -------------------------------------------------------end join -------------------------------------------------------------------------------------------

// -------------------------------------------------------start footer -------------------------------------------------------------------------------------------
.footer{
    background-color: #262b30;
}
.footer-top{
    padding: 115px 0;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .first{
        max-width: 270px;
    }
    .last{
        max-width: 365px;
    }
}
.footer__col{
    li{
        display: block;
        margin-bottom: 20px;
    }
    a{
        color: #ababab;
        font-size: 15px;
        font-weight: 400;
        transition: all .5s ease;
        &:hover{
            color: #fff;
        }
    }
    &-title{
        margin-bottom: 30px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
    }
    span{
        font-size: 16px;
        margin-right: 12px;
        color: #fff;
    }
}
.footer__text{
    color: #ababab;
    margin-bottom: 30px;
    line-height: 28px;
}
.footer__contact{
    color: #ababab;
    position: relative;
    padding-left: 30px;
    span{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.footer__contact-link{
    margin-bottom: 20px;
}
.footer__col-form{
    margin-bottom: 50px;
    form{
        position: relative;
        height: 50px;
    }
    input{
        height: 50px;
        background-color: #fff;
        border: none;
        border-radius: 30px;
        padding-left: 30px;
        padding-right: 100px;
        outline: none;
        max-width: 340px;
        &::placeholder{
            color: #ababab;
            font-size: 15px;
        }
    }
    button{
        cursor: pointer;
        position: absolute;
        background-color: $blue;
        border: none;
        border-radius: 30px;
        height: 50px;
        outline: none;
        padding: 0 25px;
        color: #fff;
        right: 10px;
        transition: all .5s ease;
        &:hover{
            background-color: #7347c1;
        }
    }
}
.footer__list-socail{
    li{
        display: inline-block;
        & + li{
            margin-left: 15px;  
        }
    }
    a{
        width: 42px;
        height: 42px;
        color: #fff;
        font-family: 'icomoon';
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .facebook {
        background-color: #395799;
        &::before{
            content: "\f09a";
        }
    }
    .twitter {
        background-color: #19b2f5;
        &::before{
            content: "\f099";
        }
    }
    .gmail {
        background-color: #f05b44;
        &::before{
            content: "\f1a0";
        }
    }
    .pinterest {
        background-color: #9c0c1c;
        &::before{
            content: "\f0d2";
        }
    }
    .linkedIn {
        background-color: #0da6be;
        &::before{
            content: "\f0e1";
        }
    }
    .dribbble {
        background-color: #ea4c89;
        &::before{
            content: "\f17d";
        }
    }
}
.footer-bottom{
    height: 95px;
    background-color: #192027;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #999999;
    a{
        color: #fff;
        margin-left: 5px;
    }
}
// -------------------------------------------------------end footer -------------------------------------------------------------------------------------------

// -------------------------------------------------------START CATEGORY PAGE -------------------------------------------------------------------------------------------

// -------------------------------------------------------start banner -------------------------------------------------------------------------------------------
.banner{
    padding: 90px 0 30px;
    background-image: linear-gradient(270deg, rgb(13,62,242) 0%, rgb(45,47,199) 46%, rgb(76,31,156) 100%);
}
.banner__inner{
    text-align: center;
}
.banner-title{
    color: #fff;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 30px;
    span{
        font-weight: 500;
    }
}
.banner__forma{
    margin-bottom: 35px;
    
    form{
    position: relative;
    width: 560px;
    display: inline-block;
    }
    input{
       height: 55px;

       width: 100%;
       border-radius: 30px;
       padding-left: 30px;
       padding-right: 130px;
       border: none;
       &::placeholder{
        color: #747b86;
       }
    }
    button{
        border: none;
        height: 55px;
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 0;
        right: -3px;
        border-radius: 30px;
        width: 110px;
        background-color: $blue;
        transition: all .5s ease;
        &:hover{
            background-color: #3930b4;
        }
    }
}
// -------------------------------------------------------end banner -------------------------------------------------------------------------------------------
// -------------------------------------------------------END CATEGORY PAGE -------------------------------------------------------------------------------------------

//start login page
.login-page{
    background-color: #eff1f5;
    padding: 70px 120px;
}
.banner.login{
    padding-bottom: 55px;
    .banner__inner{
        text-align: left;
    }
    .breadcrumbs__list{
        color: #76ae36;
        font-size: 15px;
        a{
            font-size: 15px;
        }
    }
}
.banner__title{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-top: 25px;
}
.login__wrapper{
    background-color: #fff;
    max-width: 555px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin: 0 auto;
    padding: 60px 0;
}
.login__top{
    text-align: center;
    padding-bottom: 33px;
    border-bottom: 1px solid #e8ebf0;
}
.login__title{
    font-size: 26px;
    color: #000;
    margin-bottom: 25px;
}
.login__text{
    font-size: 16px;
    color: $gray;
}
.login__form{
    padding: 30px 50px 0;
    .input__sup{
        text-align: left;
        font-size: 16px;
        color: #000;
        font-weight: 500;
        margin-bottom: 15px;
    }
    form{
        input{
            display: block;
            margin-bottom: 30px;
            width: 100%;
            border: none;
            background-color: #f4f5f8;
            font-size: 16px;
            height: 50px;
            padding: 0 20px;
            &::placeholder{
                font-weight: 500;
                color: #898f96;
                font-size: 16px;
            }
        }
        input[type="checkbox"] {
            display: none;
          }
          label {
            padding-left: 20px;
            font-size: 16px;
            color: $gray;
            cursor: pointer;
          }
          label::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-left: -10px;
            margin-right: 10px;
            border-radius: 50%;
            border: 1px solid $blue;
            margin-top: -4px;
          }
          input[type="checkbox"]:checked + label::before {
            content: '';
            background-size: 100%;
            color: #fff;
            border: none;
            background-image: url(../images/check.png);
            width: 20px;
            height: 20px;
          }
          button{
              margin-top: 30px;
              display: block;
              font-size: 15px;
              font-weight: 500;
              background-color: $blue;
              box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
              border: none;
              height: 50px;
              width: 190px;
              cursor: pointer;
              transition: all .5s ease;
              &:hover{
                  background-color: #0d57a7;
              }
          }
    }
}
.other__help{
    padding: 40px 50px 0;
    display: flex;
    justify-content: space-between;
    span{
        font-size: 16px;
        color: #898f96;
    }
    a{
        transition: all .5s ease;
        font-size: 16px;
        color: $blue;
        &:hover{
          color: #0d57a7;
        }
    }
}
  
//end login page
@import 'media';

